$color-p-1: #08141e; //dark
$color-p-2: #0f2a3f;
$color-p-3: #20394f;
$color-p-4: #f6d6bd; //light
$color-n-1: #29366f; //dark
$color-n-2: #3b5dc9;
$color-n-3: #41a6f6;
$color-n-4: #73eff7; //light

$b-round: 4px;

body {
    background-color: $color-n-1;
    color: $color-n-1;
    font-size: 22px;
}

section {
    background-color: $color-n-4;
    width: 80vw;
    margin: auto;
    margin-top: 0.5em;
    padding: 0.5em;
    border-radius: $b-round;
}

.ca-header {
    a {
        margin: 0 0.2em;
    }
}

ul.ca-car-detail {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  li {
    display: flex;
    div {
      flex: 1;
    }
  }
}
